n8n/geppetto-workflow.json
{
  "name": "Geppetto — Trigger, Monitor & Notify",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "geppetto",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "notes": "POST http://<your-n8n-host>/webhook/geppetto\n\nBody: {\"title\": \"Add dark-mode toggle\", \"description\": \"...\", \"jira_id\": \"SCRUM-42\"}"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Create Geppetto Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "task-id-assignment",
              "name": "task_id",
              "value": "={{ $json.task_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Store Task ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "amount": 8,
        "unit": "seconds"
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Wait 8s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [900, 300],
      "notes": "Agent typically takes 30-120s. Increase this for longer tasks."
    },
    {
      "parameters": {
        "url": "=http://localhost:8000/tasks/{{ $('Store Task ID').item.json.task_id }}",
        "options": {}
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "Poll Task Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "cond-running",
              "leftValue": "={{ $json.status }}",
              "rightValue": "running",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "cond-pending",
              "leftValue": "={{ $json.status }}",
              "rightValue": "pending",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "66666666-6666-6666-6666-666666666666",
      "name": "Still Running?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300],
      "notes": "true → loop back and wait\nfalse → check completed vs failed"
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "cond-complete",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "77777777-7777-7777-7777-777777777777",
      "name": "Completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-msg",
              "name": "message",
              "value": "=✅ Geppetto finished: {{ $('Poll Task Status').item.json.title }}",
              "type": "string"
            },
            {
              "id": "success-url",
              "name": "dashboard_url",
              "value": "=http://localhost:8000/?task={{ $('Store Task ID').item.json.task_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "88888888-8888-8888-8888-888888888888",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1780, 200],
      "notes": "Connect this to a Slack / email / Jira node to notify your team"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fail-msg",
              "name": "message",
              "value": "=❌ Geppetto failed: {{ $('Poll Task Status').item.json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "99999999-9999-9999-9999-999999999999",
      "name": "Failed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1780, 400],
      "notes": "Connect to an alert/PagerDuty node if needed"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Create Geppetto Task", "type": "main", "index": 0 }]
      ]
    },
    "Create Geppetto Task": {
      "main": [
        [{ "node": "Store Task ID", "type": "main", "index": 0 }]
      ]
    },
    "Store Task ID": {
      "main": [
        [{ "node": "Wait 8s", "type": "main", "index": 0 }]
      ]
    },
    "Wait 8s": {
      "main": [
        [{ "node": "Poll Task Status", "type": "main", "index": 0 }]
      ]
    },
    "Poll Task Status": {
      "main": [
        [{ "node": "Still Running?", "type": "main", "index": 0 }]
      ]
    },
    "Still Running?": {
      "main": [
        [{ "node": "Wait 8s", "type": "main", "index": 0 }],
        [{ "node": "Completed?", "type": "main", "index": 0 }]
      ]
    },
    "Completed?": {
      "main": [
        [{ "node": "Success", "type": "main", "index": 0 }],
        [{ "node": "Failed",  "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "geppetto-demo"
  },
  "id": "geppetto-n8n-workflow-v1",
  "tags": [{ "id": "1", "name": "geppetto" }],
  "active": false,
  "versionId": "1"
}
